// 断点
$sm: 768px;
$md: 1000px;
$lg: 1250px;
$xl: 1920px;

// 默认圆角
$border-radius-default: 6px;

// 默认过度时间
$transition-time-default: 0.3s;

// 隐藏
.hide-in-sm {
  @media screen and (max-width: $sm) {
    display: none;
  }
}

// 页面显示范围
:root {
  --view-size: calc((100vw - 220px) - (5vw + 20px) * 2);

  @media screen and (max-width: $sm) {
    --view-size: calc(100vw - (20px) * 2);
  }
}

// 栅格,自适应宽度
$grid-default: calc(var(--view-size) / 10);

@mixin calc-width($w) {
  width: calc($grid-default * $w);
  max-width: calc(1680px / 10 * $w);

  @media screen and (max-width: $sm) {
    width: calc($grid-default * $w * 2);
    max-width: calc(1680px / 10 * $w * 2);
  }
}

// 阴影
@mixin blurShadow() {
  &::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: black;
    background: inherit;
    background-size: 100% 100%;
    border-radius: 50%;
    transform: scale(0.95);
    filter: blur(10px) brightness(80%) opacity(0.8);
    z-index: -1;
    transition: all calc($transition-time-default * 2);
  }
}

@mixin shadow() {
  &::before {
    content: "";
    background: inherit;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 40px 0px rgb(76 70 124 / 50%);
    display: block;
    position: absolute;
    top: 10%;
    // right: 8%;
    left: 8%;
    transform: scale(0.9);
    filter: blur(10px);
    opacity: 0.68;
    border-radius: 15px;
  }
}

// 文字超出省略号

@mixin text-overflow($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}
