.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-time-default ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.drop-up-enter-active,
.drop-up-leave-active {
  transition: all $transition-time-default ease;
}

.drop-up-enter-from,
.drop-up-leave-to {
  opacity: 0;
  transform: translateY(6%);
}

.drop-up-enter-to,
.drop-up-leave-from {
  opacity: 1;
  transform: translateY(0%);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all $transition-time-default ease;
}

.slide-up-enter-from,
.slide-up-leave-to {
  transform: translateY(100%);
}
