@import "color.scss";
@import "fontStyle.scss";
@import "_variable.scss";

* {
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC",
    "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: var(--text-color-primary);

  @media screen and (max-width: $sm) {
    user-select: none !important;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
i {
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #666;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input {
  -webkit-appearance: none;
  margin: 0;
  outline: none;
  padding: 0;
}

/* --清除谷歌浏览器下的叉号 */

input::-webkit-search-cancel-button {
  display: none;
}

/* --清除IE下的叉号 */

input[type="search"]::-ms-clear {
  display: none;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

input::-ms-input-placeholder {
  color: #ccc;
}

input::-moz-placeholder {
  color: #ccc;
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

img {
  border: none;
}

ul,
ol,
li {
  list-style-type: none;
}

/*公共方法*/

.w {
  width: 1200px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.block {
  background-color: var(--background-color-primary);
  border-radius: $border-radius-default;
  padding: 8px 12px;
}

.section {
  margin-bottom: 24px;
}

// 设定滚动条
html {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /*滚动条滑块*/

  ::-webkit-scrollbar-thumb {
    // 滑块
    border-radius: 10px;
    background: #c1c1c1;
  }

  /*滚动条轨道*/

  ::-webkit-scrollbar-track {
    // 轨道
    border-radius: 10px;
    background: transparent;
  }
}
